// put global styles here.
// for styles that just apply to a particular component, put those styles with the component.

@import "./variables.scss";

html {
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 18px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

button {
	font-size: 1em;
}

.shortcut-actions {
	display: none;
}

.screen-reader-only {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(1px 1px 1px 1px); // IE 6 and 7
	clip: rect(1px,1px,1px,1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	overflow: hidden !important;
}

///////////////// hand drawn borders


.hand-drawn {
	padding:1rem 1rem;
	margin:0 1rem;
	transition:all .5s ease;
	color:#41403E;
	box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	&.lined.thick{
		border:solid 7px #41403E;
	}
	&.dotted.thick{
		border:dotted 5px #41403E;
	}
	&.dashed.thick{
		border:dashed 5px #41403E;
	}
	&.lined.thin{
		border:solid 2px #41403E;
	}
	&.dotted.thin{
		border:dotted 2px #41403E;
	}
	&.dashed.thin{
		border:dashed 2px #41403E;
	}
}
